name: CI with Cache

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            node_modules
          key: cache-be84816

      - name: prime-cache-be84816
        run: |
          echo "Cache hit: ${{ steps.cache.outputs.cache-hit }}"

      - name: Install dependencies (noop)
        run: echo "Done"
