name: CI with Cache

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: prime-cache-be84816
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: cache-be84816

      - name: Echo cache result
        run: echo "Cache result: ${{ steps.cache-step.outputs.cache-hit }}"
